<div style="text-align:left;color:#000; background:#fff; padding:10px 30px 20px; overflow:hidden;">
	<h3>This content was loaded using .load()</h3>

	<blockquote>This method is the simplest way to fetch data from the server. It is roughly equivalent to $.get(url, data, success) except that it is a method rather than global function and it has an implicit callback function. When a successful response is detected (i.e. when textStatus is "success" or "notmodified"), .load() sets the HTML contents of the matched element to the returned data. This means that most uses of the method can be quite simple.</blockquote>
	<p class="pull-right">(via <a style="color:#000; border-bottom:2px solid white; font-weight:bold;" href="http://api.jquery.com/load/">api.jquery.com</a>)</p>	
</div>