$modalBg: rgba(255,255,255,.75);
$modalContentBg: rgba(0,0,0,1);

@mixin maintain-ratio($ratio: 1 1) {
  @if length($ratio) < 2 or length($ratio) > 2 {
    @warn "$ratio must be a list with two values."
  }
 
  $width: 100%;
  $height: percentage(nth($ratio, 2) / nth($ratio, 1));
  
  width: $width;
  height: 0;
  padding-bottom: $height;
}

@mixin transition ($transition) {
	-webkit-transition: $transition;  
	-moz-transition:    $transition;
	-ms-transition:     $transition; 
	-o-transition:      $transition;  
}
@mixin transform($string){
	-webkit-transform:   $string;
	-moz-transform: 	 $string;
	-ms-transform: 		 $string;
	-o-transform: 		 $string;
}
@mixin scale ($factor) {
	-webkit-transform: 	 scale($factor);
	-moz-transform: 	 scale($factor);
	-ms-transform: 		 scale($factor);
	-o-transform: 		 scale($factor);
}
@mixin rotate ($deg) {
	-webkit-transform:   rotate($deg);
	-moz-transform: 	 rotate($deg);
	-ms-transform: 		 rotate($deg);
	-o-transform: 		 rotate($deg);
}

@mixin translate ($x, $y:0) {
	-webkit-transform:   translate($x, $y);
	-moz-transform: 	 translate($x, $y);
	-ms-transform: 		 translate($x, $y);
	-o-transform: 		 translate($x, $y);
}
@mixin translate3d ($x, $y: 0, $z: 0) {
	-webkit-transform:	 translate3d($x, $y, $z);
	-moz-transform: 	 translate3d($x, $y, $z);
	-ms-transform: 		 translate3d($x, $y, $z);
	-o-transform: 		 translate3d($x, $y, $z);
}
@mixin perspective ($value: 1000) {
	-webkit-perspective: $value;
	-moz-perspective: 	 $value;
	-ms-perspective: 	 $value;
	perspective: 		 $value;
}
@mixin transform-origin ($x:center, $y:center) {
	-webkit-transform-origin: $x $y;
	-moz-transform-origin:    $x $y;
	-ms-transform-origin:     $x $y;
	-o-transform-origin:      $x $y;
}



/************************************************************************/
// Demo Purposes Only
/************************************************************************/


/************************************************************************/
// Base Styles
/************************************************************************/

.rb-close{
	position:absolute;
	top:0;
	right:0;
	height:40px;
	width:40px;
	background-color:#fff;
	color:#333;
	border:none;
	font-weight:bold;
}
.rb-overlay {
    position: fixed;
    width:100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    background-color: rgba(0,127,108,0.8);
    @include transition(all 0.3s);
}

.rb-modal.is-open ~ .rb-overlay{
    opacity: 1;
    visibility: visible;
}

.rb-modal{
    position: fixed;
    top: 50%;
    left: 50%;
    //width: 50%;
    max-width: 630px;
    min-width: 320px;
    width:100%;
    height: auto;
    z-index: 2000;
    visibility: hidden;
    backface-visibility: hidden;
    
    @include transform(translate3d(-50%, -50%, 0));

    img{
    	width:100%;
    }
	iframe{
		display: none;
	}
	&.is-open iframe{
		display: block;
	}

	&.is-open{
 		visibility: visible;
	}

	& > div{

	}

/************************************************************************/
// Effects
/************************************************************************/

	&.pop{}
	&.slide-in-top{}
	&.slide-in-right{}
	&.slide-in-bottom{}
	&.slide-in-left{}
	&.blur{}
	&.flip-3d{}
}



.effect-slide-in-top.rb-modal{
	& > div {
    	@include transform(translateY(-100%));
	    opacity: 0;
	    @include transition(all .5s);
	}	
	&.is-open{
		& > div{
			@include transform(translateY(0%));
			opacity: 1;			
		}
		// & ~ .rb-overlay {
		//     background-color: rgba(0,127,108,0.8);
		// }		
	}
}


.effect-slide-in-right.rb-modal{
	& > div {
    	@include transform(translateX(-100%));
	    opacity: 0;
	    @include transition(all .5s);
	}	
	&.is-open{
		& > div{
			@include transform(translateX(0%));
			opacity: 1;			
		}
		// & ~ .rb-overlay {
		//     background-color: rgba(0,127,108,0.8);
		// }		
	}
}

.effect-slide-in-bottom.rb-modal{
	& > div {
		@include transform(translateY(100%));
	    opacity: 0;
	    @include transition(all .5s);
	}	
	&.is-open{
		& > div{
		    @include transform(translateY(0%));
			opacity: 1;			
		}
		// & ~ .rb-overlay {
		//     background-color: rgba(0,127,108,0.8);
		// }		
	}
}

.effect-slide-in-left.rb-modal{
	& > div {
	    @include transform(translateX(100%));
	    opacity: 0;
	    @include transition(all .5s);
	}	
	&.is-open{
		& > div{
		    @include transform(translateX(0%));
			opacity: 1;			
		}
		// & ~ .rb-overlay {
		//     background-color: rgba(0,127,108,0.8);
		// }		
	}
}


.effect-flip-3d-x.rb-modal{
	& > div {
		backface-visibility: hidden;
	    -webkit-transform-style: preserve-3d;
		@include transform(rotateX(-100deg));
		@include perspective(1000);
	    opacity: 0;
	    @include transition(all .5s);
	}	
	&.is-open{
		& > div{
			@include transform(rotateX(0deg));
			opacity: 1;			
		}
		// & ~ .rb-overlay {
		//     background-color: rgba(0,127,108,0.8);
		// }		
	}
}


.effect-flip-3d-y.rb-modal{
	& > div {
		backface-visibility: hidden;
	    -webkit-transform-style: preserve-3d;
		@include transform(rotateY(-100deg));
		@include perspective(1000);
	    opacity: 0;
	    @include transition(all .5s);
	}	
	&.is-open{
		& > div{
		@include transform(rotateY(0deg));
			opacity: 1;			
		}
		// & ~ .rb-overlay {
		//     background-color: rgba(0,127,108,0.8);
		// }		
	}
}

.effect-pop.rb-modal{
	& > div {
		@include transform(scale(0));
	    opacity: 0;
	    @include transition(all .5s);
	}	
	&.is-open{
		& > div{
			@include transform(scale(1));
			opacity: 1;			
		}
		// & ~ .rb-overlay {
		//     background-color: rgba(0,127,108,0.8);
		// }		
	}
}

.effect-newspaper.rb-modal{
	& > div {
		@include transform(scale(0) rotate(720deg));
	    opacity: 0;
	    @include transition(all .5s);
	}	
	&.is-open{
		& > div{
			@include transform(scale(1) rotate(0deg));
			opacity: 1;			
		}
		// & ~ .rb-overlay {
		//     background-color: rgba(0,127,108,0.8);
		// }		
	}
}


.type-youtube{
	.rb-content{
		width:100%;
	}
	iframe{
		display: none;
		width:100%;
		height:100%;
	}
	&.is-open iframe{
		display: block;
	}
}



.type-iframe{
	.rb-content{
		width:100%;
		background-color:#fff;
		padding:10px;
	}
	iframe{
		border:none;
		width:100%;
		height:100%;
	}
}




